    html, body {
        padding: 0;
        margin: 0;
        height: 100vh;
    }

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0c2461;
    }

    .container img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .container progress {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
    }

    .card {
        border: 1px solid #000;
        height: 30rem;
        width: 20rem;
        position: relative;
        background: indigo;
    }

    .card-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: antiquewhite;
        padding: 9px;
    }
